<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin id="org.digimead.tabuddy.desktop.example" name="TABuddy" version="1.0.0.qualifer" provider-name="Project TABuddy">
  <extension id="default" name="TABuddy" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.digimead.tabuddy.desktop.example.Application">
         </run>
    </application>
  </extension>
  <extension point="org.eclipse.ui.perspectives">
    <perspective name="Default Perspective" class="org.digimead.tabuddy.desktop.example.DefaultPerspective" id="org.digimead.tabuddy.desktop.example.DefaultPerspective">
      </perspective>
  </extension>
  <extension point="org.eclipse.ui.views">
    <view name="Default View" class="org.digimead.tabuddy.desktop.example.DefaultView" id="org.digimead.tabuddy.desktop.example.DefaultView">
      </view>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="*">
      <view standalone="true" minimized="false" relative="org.eclipse.ui.editorss" relationship="left" id="org.digimead.tabuddy.desktop.example.DefaultView">
         </view>
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
      <menu label="File" mnemonic="F">
        <command commandId="org.eclipse.ui.newWizard" style="push" tooltip="New ...">
            </command>
        <command commandId="org.eclipse.ui.file.open" style="push">
            </command>
        <command commandId="org.eclipse.ui.file.close" style="push">
            </command>
        <separator name="save.seperator" visible="true">
            </separator>
        <command commandId="org.eclipse.ui.file.save" style="push" tooltip="Save">
            </command>
        <separator name="separator1" visible="true">
            </separator>
        <command commandId="org.eclipse.ui.file.print" style="push" tooltip="Print ...">
            </command>
        <separator name="separator2" visible="true">
            </separator>
        <command commandId="org.eclipse.ui.file.exit" style="push" tooltip="Exit">
            </command>
      </menu>
      <menu label="Edit" mnemonic="E">
        <command commandId="org.eclipse.ui.edit.undo" style="push">
            </command>
        <command commandId="org.eclipse.ui.edit.redo" style="push">
            </command>
        <separator name="separator1" visible="true">
            </separator>
        <command commandId="org.eclipse.ui.edit.copy" style="push" tooltip="Copy">
            </command>
        <command commandId="org.eclipse.ui.edit.cut" style="push">
            </command>
        <command commandId="org.eclipse.ui.edit.paste" style="push">
            </command>
        <separator name="separator2" visible="true">
            </separator>
        <command commandId="org.eclipse.ui.edit.delete" style="push">
            </command>
        <command commandId="org.eclipse.ui.edit.selectAll" style="push">
            </command>
        <separator name="separator3" visible="true">
            </separator>
        <command commandId="org.eclipse.ui.edit.findReplace" style="push">
            </command>
      </menu>
      <menu label="Window" mnemonic="W">
        <command commandId="org.eclipse.ui.views.showView" style="push" tooltip="Views">
            </command>
        <command commandId="org.eclipse.ui.window.preferences" style="push" tooltip="Preferences">
            </command>
      </menu>
      <menu label="Help" mnemonic="H">
        <command commandId="org.eclipse.ui.help.displayHelp" icon="icons/help.gif" label="Help Contents" style="push">
            </command>
        <command commandId="org.eclipse.ui.help.aboutAction" style="push" tooltip="About">
            </command>
      </menu>
    </menuContribution>
    <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
      <toolbar id="com.googlecode.id.application.toolbar">
        <command commandId="org.eclipse.ui.file.save" style="push" tooltip="Save">
            </command>
        <command commandId="org.eclipse.ui.file.print" style="push">
            </command>
        <separator name="com.googlecode.id.application.separator3">
            </separator>
        <command commandId="org.eclipse.ui.edit.copy" style="push">
            </command>
        <command commandId="org.eclipse.ui.edit.cut" style="push">
            </command>
        <command commandId="org.eclipse.ui.edit.paste" style="push">
            </command>
      </toolbar>
    </menuContribution>
  </extension>
  <extension id="default" point="org.eclipse.core.runtime.products">
    <product application="org.digimead.tabuddy.desktop.example.default" name="TABuddy Title bar">
      <property name="appName" value="MyProductName">
         </property>
    </product>
  </extension>
</plugin>
