<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin id="org.digimead.tabuddy.desktop.core" name="Core" version="0.0.1.0-SNAPSHOT" provider-name="Digimead team">
  <extension id="default" point="org.eclipse.core.runtime.products">
    <product application="org.eclipse.e4.ui.workbench.swt.E4Application" description="Mock that initiate E4 initialization." name="NoName">
      <property name="clearPersistedState" value="true"/>
      <property name="preferenceCustomization" value="plugin_customization.ini"/>
      <property name="applicationXMI" value="org.eclipse.platform/LegacyIDE.e4xmi"/>
      <property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_default"/>
      <property name="applicationCSSResources" value="platform:/plugin/org.eclipse.platform/images/"/>
    </product>
  </extension>
</plugin>
