<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin id="org.digimead.tabuddy.desktop.logic" name="Logic" version="0.0.1.0-SNAPSHOT" provider-name="Digimead team">
  <extension point="org.eclipse.ui.bindings">
    <key commandId="org.digimead.tabuddy.desktop.logic.Close" contextId="org.eclipse.ui.contexts.window" sequence="M1+W" schemeId="org.digimead.tabuddy.desktop">
      </key>
    <key commandId="org.digimead.tabuddy.desktop.logic.Lock" contextId="org.eclipse.ui.contexts.window" sequence="M1+O" schemeId="org.digimead.tabuddy.desktop">
      </key>
    <key commandId="org.digimead.tabuddy.desktop.logic.Save" contextId="org.eclipse.ui.contexts.window" sequence="M1+S" schemeId="org.digimead.tabuddy.desktop">
      </key>
    <key commandId="org.digimead.tabuddy.desktop.logic.Delete" contextId="org.eclipse.ui.contexts.window" sequence="M1+E" schemeId="org.digimead.tabuddy.desktop">
      </key>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command categoryId="org.eclipse.ui.category.window" id="org.digimead.tabuddy.desktop.logic.Close" name="Close"/>
    <command
          categoryId="org.eclipse.ui.category.window"
          id="org.digimead.tabuddy.desktop.logic.Lock"
          name="Lock">
          <state
 class="org.eclipse.jface.commands.ToggleState"
         id="org.digimead.tabuddy.desktop.logic.handler.Lock">
   </state>
    </command>
    <command categoryId="org.eclipse.ui.category.window" id="org.digimead.tabuddy.desktop.logic.Save" name="Save"/>
    <command categoryId="org.eclipse.ui.category.window" id="org.digimead.tabuddy.desktop.logic.Delete" name="Delete"/>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler class="org.digimead.tabuddy.desktop.logic.handler.Close" commandId="org.digimead.tabuddy.desktop.logic.Close">
      </handler>
    <handler class="org.digimead.tabuddy.desktop.logic.handler.Lock" commandId="org.digimead.tabuddy.desktop.logic.Lock">
      </handler>
    <handler class="org.digimead.tabuddy.desktop.logic.handler.Save" commandId="org.digimead.tabuddy.desktop.logic.Save">
      </handler>
    <handler class="org.digimead.tabuddy.desktop.logic.handler.Delete" commandId="org.digimead.tabuddy.desktop.logic.Delete">
      </handler>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:file?after=new">
      <command commandId="org.digimead.tabuddy.desktop.logic.Close" icon="icons/16x16/project-development-close.png" id="org.digimead.tabuddy.desktop.logic.Close" mnemonic="C" style="push">
            </command>
    </menuContribution>
    <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?before=org.digimead.tabuddy.desktop.toolbar">
             <toolbar
               id="org.digimead.tabuddy.desktop.logic.command.SelectModel"
               label="Model Toolbar">
            <control id="org.digimead.tabuddy.desktop.logic.handler.SelectModel"
                  class="org.digimead.tabuddy.desktop.logic.handler.SelectModel"/>
      <command commandId="org.digimead.tabuddy.desktop.logic.Lock" icon="icons/16x16/document-open-data.png" id="org.digimead.tabuddy.desktop.logic.Lock" mnemonic="O" style="toggle">
            </command>
      <command commandId="org.digimead.tabuddy.desktop.logic.Save" icon="icons/16x16/document-save.png" id="org.digimead.tabuddy.desktop.logic.Save" mnemonic="S" style="push">
            </command>
      <command commandId="org.digimead.tabuddy.desktop.logic.Delete" icon="icons/16x16/archive-remove.png" id="org.digimead.tabuddy.desktop.logic.Delete" mnemonic="D" style="push">
            </command>
         </toolbar>
    </menuContribution>
  </extension>
</plugin>
